@model IEnumerable<Garage_2.Models.ViewModels.OverviewViewModel>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["AlertMessage"] is string alert && TempData["AlertType"] is string type)
{
    <div class="position-fixed w-100 bottom-0 start-0 mb-3">
        <div class="alert alert-@type alert-dismissible fade show shadow  w-75 m-auto" role="alert">
            @alert
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<div
    class="position-fixed bg-body start-0 end-0 z-1"
    style="top: 48px; @@media (min-width: 768px) { top: 57px }">
    <div class="container d-flex p-3 px-4 gap-2">
        <div class="col-3">
            <a asp-action="ParkNewVehicle" class="btn btn-primary text-start text-nowrap text-truncate">Park
                <span class="d-none d-sm-inline">new vehicle</span>
            </a>
        </div>
        <div class="col-9">
            <partial name="_SearchPartial" />
        </div>
    </div>
</div>

<table class="table" style="margin-top: 108px">
    <thead
        class="position-sticky w-100 bg-body p-3 h-100 mt-0 z-2"
           style="top: 108px; box-shadow: 0 4px 4px -4px rgba(0,0,0,0.2); @@media (min-width: 768px) { top: 118px }">
        <tr>
            <th td class="text-nowrap">
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th td class="text-nowrap">
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th td class="text-nowrap">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th td class="text-nowrap">
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-nowrap">
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
                <td class="text-nowrap">
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
                <td class="text-nowrap">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
                <td class="text-nowrap">
                @($"{item.ParkedTime.Days}d {item.ParkedTime.Hours}h {item.ParkedTime.Minutes}m")
            </td>
            <td>
                <div class="d-flex flex-nowrap gap-2">
                        <a asp-action="Details" asp-route-id="@item.Id" asp-route-searchString="@ViewData["CurrentFilter"]" class="btn btn-sm btn-outline-secondary text-nowrap">Details</a>
                    <a asp-action="EditVehicle" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary text-nowrap">Edit</a>
                    <a asp-action="UnParkVehicle" asp-route-id="@item.Id" class="btn btn-sm btn-primary text-nowrap">Check out</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="mt-3">
    <span>Page: </span>
    @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
    {
        <a asp-action="Index"
           asp-route-page="@i"
           asp-route-searchString="@ViewData["CurrentFilter"]"
           class="btn btn-sm @(i == (int)ViewData["CurrentPage"] ? "btn-primary" : "btn-outline-primary")">
            @i
        </a>
    }
</div>