@model IEnumerable<Garage_2.Models.ViewModels.OverviewViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["AlertMessage"] is string alert && TempData["AlertType"] is string type)
{
    <div class="alert alert-@type alert-dismissible fade show" role="alert">
        @alert
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<partial name="_SearchPartial" />

<p>
    <a asp-action="ParkNewVehicle">Park new vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNUmber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNUmber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="EditVehicle" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="UnParkVehicle" asp-route-id="@item.Id">Check out</a>
            </td>
        </tr>
}
    </tbody>
</table>
