@model ReceiptViewModel

<h1>Receipt</h1>

@if (TempData["AlertMessage"] is string alert && TempData["AlertType"] is string type)
{
	<div class="position-fixed w-100 bottom-0 start-0 mb-3">
		<div class="alert alert-@type alert-dismissible fade show shadow  w-75 m-auto" role="alert">
			@Html.Raw(alert)
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
}

	<hr />

	<p><strong>Registration number:</strong> @Model.RegistrationNumber</p>
	<p><strong>Vehicle type:</strong> @Model.Type</p>

	<hr />

	<p><strong>Arrival time:</strong> @Model.ArrivalTime</p>
	<p><strong>Checkout time:</strong> @Model.CheckoutTime</p>
	<p><strong>Parking duration:</strong> @($"{(int)Model.ParkingDuration.TotalHours} h {Model.ParkingDuration.Minutes} min")</p>


	<hr />

	<h4>Total price: @Model.Price SEK</h4>

<a class="btn btn-outline-secondary no-print" asp-action="Index">Back to List</a>
<button onclick="window.print()" class="btn btn-success no-print">Print receipt</button>
